@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
    margin-left: 0;
    .btn {
      width: 100%;
    }
  }
}
form{
  border:3px solid#6a1b9a;
  padding: 20px;
}

input [type=text],
input [type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border:1px solid #ccc;
  box-sizing: border-box;
}

.SignupForm .btn {
  background-color: #6a1b9a;
  color: white;
  width: auto;
  border: none;
  padding: 0 10px ;
  text-align: center;
  display: inline-block;
  cursor: pointer;

}

.btn:hover{
  opacity: 0.8;
}

.SignupForm .signins{
  margin-left: 5px;

}

.btn:hover{
  opacity: 0.8;
}

  .SignupForm {
    margin: 50px auto;
    width: 610px;
  }

  .buttons2{
margin:0 auto;
text-align: center;
  }
